.container {
    max-width: 800px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 5em auto;
}

h1 {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    color: #282c34;
    margin-bottom: 20px;
    line-height: 1.6;
}

h2 {
    font-size: 1.5em;
    color: #444;
    margin-top: 20px;
    margin-bottom: 10px;
}

.empty {
    height: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    background-color: rgba(173, 255, 47, 0.5);
}

table tr {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

table td {
    width: 80%;
    padding: 1em;
}

a {
    color: black;
    text-decoration: none;
}

table tr:hover {
    background-color: green;
    a {
        color: white;
    }
}

.label {
    display: block;
    margin: 8px auto;
}

.control {
    width: 96%;
    padding: 1em;
    margin-bottom: 1em;
}